ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_WS_URL=wss://rpc.testnet.arc.network
ARC_CHAIN_ID=5042002
ARC_EXPLORER_URL=https://testnet.arcscan.app
ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000

DEPLOYER_PRIVATE_KEY=
AGENT_PRIVATE_KEY=
OPERATOR_ADDRESS=
AGENT_ADDRESS=
COUNTERPARTY_ADDRESS=
SPEND_ACCOUNT_ADDRESS=

OPENAI_API_KEY=
